@{
  ViewData["Title"] = "FindIt";
}

<div class="flex justify-center items-center">
  <a asp-controller="User" asp-action="Login">
    <button>Login</button>
  </a>
  <a asp-controller="User" asp-action="Signup">
    <button class="fill">Signup</button>
  </a>
</div>