@{
  ViewData["Title"] = "FindIt";
}

<div class="flex justify-center items-center flex-col h-[100dvh]">
  <h2><span class="text-primary">Find</span>It</h2>
  <p class="text-outline text-lg">FindIt is a lost and found application that helps you find your lost items.</p>
  <div class="flex justify-center mt-4">
    <a asp-controller="User" asp-action="Login">
      <button>Lost Something</button>
    </a>
    <a asp-controller="User" asp-action="Signup">
      <button class="fill">Found Something</button>
    </a>
  </div>
</div>