@{
  ViewData["Title"] = "FindIt";
}

<div class="flex justify-center items-center flex-col h-[100dvh]">
  <h2><span class="text-primary">Find</span>It</h2>
  <p class="text-outline text-lg">FindIt is a lost and found application that helps you find your lost items.</p>
  <div class="flex justify-center mt-4">
    <a asp-controller="Find" asp-action="Items">
      <button>Lost Something</button>
    </a>

    @if (Context.Session.GetString("UserId") != null)
    {
      <a asp-controller="Item" asp-action="New">
        <button class="fill">Found Something</button>
      </a>
    } else {
      <a asp-controller="User" asp-action="Login">
        <button class="fill">Found Something</button>
      </a>
    }
  </div>
</div>