@{
  ViewData["Title"] = "Find Items";
}

<div class="">
  <nav class="left drawer">

  </nav>
  <main class="responsive !pr-0">
    <div class="flex justify-between mt-20">
      <div class="flex items-center gap-1">
        <h3 class="text-3xl mt-1">Find Items</h3>
        <a class="chip fill" asp-controller="Item" asp-action="New">
          <i>add</i>
          <span>New item</span>
        </a>
      </div>
      <div class="field large prefix round fill">
        <i class="front">search</i>
        <input placeholder="Search Items" />
        <menu class="min">
          <div class="field large prefix suffix no-margin fixed">
            <i class="front">arrow_back</i>
            <input>
            <i class="front">close</i>
          </div>
          <a class="row">
            <i>history</i>
            <div>Item 1</div>
          </a>
          <a class="row">
            <i>history</i>
            <div>Item 2</div>
          </a>
          <a class="row">
            <i>history</i>
            <div>Item 3</div>
          </a>
        </menu>
      </div>
    </div>
  </main>
</div>