@{
  ViewData["Title"] = "Find Items";
}

<div class="">
  <nav class="left drawer">
    
  </nav>
  <main class="responsive !pr-0">
    <div class="flex justify-between mt-20">
      <h3 class="text-3xl">Find Items</h3>
      <div class="field large prefix round fill">
        <i class="front">search</i>
        <input placeholder="Search Items" />
        <menu class="min">
          <div class="field large prefix suffix no-margin fixed">
            <i class="front">arrow_back</i>
            <input>
            <i class="front">close</i>
          </div>
          <a class="row">
            <i>history</i>
            <div>Item 1</div>
          </a>
          <a class="row">
            <i>history</i>
            <div>Item 2</div>
          </a>
          <a class="row">
            <i>history</i>
            <div>Item 3</div>
          </a>
        </menu>
      </div>
    </div>
  </main>
</div>